{% extends 'base.html' %}

{% block content %}
<style>
    .welcome{
     box-shadow: 0 15px 25px rgba(0,0,0,.6);
     color:white;
     padding: 20px 20px 20px 20px;
     border-radius: 10px;
     width:700px;
     position:absolute;
     top:20%;
     left:28%;
     background: rgba(0,0,0,.5);
}
</style>
<div class="welcome">
    <h1 class="weltitle"><strong>Welcome</strong></h1>
    <h4 class="buzzy">TechBuzzy</h4>
    <p><i>Technology is best when it brings people together</i></p>
</div>

{% endblock %}