body{
    height: 100%;
  background-color: #141e30;
 }
.mynav{
    font-size: 1.3em;
}
.navcolor{
    background-color: rgba(1,1,1,0.6);
}
.brandname{
    font-size: 1.5em;
}
.formtext{
    font-family: sans-serif;
}

.title{
    text-align:center;
    color:white;
    font-family: 'Cinzel', serif;
    text-shadow: 1px 1px 0px white;
}

.navfont{
font-family: 'Julius Sans One', sans-serif;  text-align:center;
  text-shadow: 1px 1px 3px white;
}
.box1{
  position: absolute;
  top: 45%;
  left: 50%;
  width: 400px;
  padding: 10px 20px 10px 20px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.box2{
  position: absolute;
  top: 56%;
  left: 50%;
  width: 400px;
  padding: 10px 20px 0   20px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}



.groupcontent{
     box-shadow: 0 15px 25px rgba(0,0,0,.6);
     padding: 20px 20px 20px 20px;
     border-radius: 10px;
     width:100px;
     background: rgba(0,0,0,.5);
      box-sizing: border-box;
      text-color:white;
}

.postform{
     box-shadow: 0 15px 25px rgba(0,0,0,.6);
     color:white;
     padding: 20px 20px 20px 20px;
     border-radius: 10px;
     width:700px;
     background: rgba(0,0,0,.5);
     position:relative;
     left:20%;
     box-sizing: border-box;

}


.groupform{
     box-shadow: 0 15px 25px rgba(0,0,0,.6);
     color:white;
     padding: 20px 20px 20px 20px;
     border-radius: 10px;
     width:700px;
     background: rgba(0,0,0,.5);
     position:relative;
     top:17%;
     left:20%;
}

.welcome{
     box-shadow: 0 15px 25px rgba(0,0,0,.6);
     color:white;
     padding: 20px 20px 20px 20px;
     border-radius: 10px;
     width:700px;
     background: rgba(0,0,0,.5);
     font-family: 'Julius Sans One', sans-serif;  text-align:center;

}


.weltitle{
    font-size:6em;
}

.buzzy{
    font-size:3em;
}

.thanks{
     box-shadow: 0 15px 25px rgba(0,0,0,.6);
     color:white;
     padding: 20px 20px 20px 20px;
     border-radius: 10px;
     width:700px;
     background: rgba(0,0,0,.5);
     position:relative;
     left:16%;
     text-align:center;
     font-family: 'Julius Sans One', sans-serif;  text-align:center;

}


